html {
    background: #033069;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023f84;
    border: 1px solid #42a2ba;
}

.row {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.key {
    height: 20px;
    padding: 10px;
    border: 1px solid #1bd1fc;
    color: #f3fbff;
    background-color: #014b98;
}

.hidden {
    display: none;
}