@font-face {
    font-family: "Lack";
    src: url("Lack-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

html {
    background: #033069;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lack, sans-serif;
    color: #f3fbff;
    margin: auto;
}

h1 {
    margin-top: 50px;
}

h2 {
    padding-top: 10px;
}

h2, h3 {
    font-size: 20px;
    margin: 10px;
}

.textarea {
    width: 1010px;
    height: 260px;
    margin: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023f84;
    border: 1px solid #42a2ba;
}

.row {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.key {
    height: 20px;
    min-width: 50px;
    padding: 20px 0;
    border: 2px solid #1bd1fc;
    background-color: #014b98;
    border-radius: 15px 0 15px 0;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    max-width: 150px;
}

.hidden {
    display: none;
}